#map {
        width: 600px;
        height: 350px;
    }


.body{
    margin: 0;
    padding:0;
    overflow-x: hidden;  /* hide horizontal overflow */
    width: 100%;
}

.navbar{
    position: fixed;
    top:0 ;
    left: 0;
    height: 80px;
    width: 100%;
    background: rgb(164, 231, 250);
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 999;
}

.logo{
    font-size: 24px;
    font-weight: bold;
}

.logo img{
    height: 60px;
    transform: translateX(30px);
}

.staffb{
    height: 800px;
    width: 100%;
    background-image: url(/static/photos/smile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
    padding-top: 20px;
    flex-direction: column;
    
}


.staffb h1{
    color: white;
    font-size: 100px;
    text-align: center;
    margin: 0;
    transform: translateX(0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.staffb h1.highlight{
    display: block;
    font-size: 40px;
}

.staffb p{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    
    letter-spacing: 4px;
}

.staffb2{
    background: rgba(234, 231, 231);
    height: 250vh;
    width: 100%;
    box-sizing: border-box;
    background-size: contain;
    
}

.middle{
    width: 50%;
    height: 2000px;
    background: rgb(255, 255, 255,0.8);
    margin: -400px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    position: absolute;
    font-weight: bold;
    z-index: 10;
    transform: translateX(400px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

.middle h1{
    margin:40px;
    font-size: 3.0rem;  /*root element’s font size*/
    line-height: 1.2;
    letter-spacing: 2px;
    margin-bottom: 1900px;
    white-space: nowrap;
    text-align: center;
    transform: translateX(200px);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.form-box{
    width: 800px;
    margin: -120px ;
    transform: translateX(-340px);
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    position: relative;
    z-index: 5;
    margin-bottom: -10px;
    
}

.form-box .text input{
    width: 90%;
    padding: 15px 20px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1.1rem;
    outline: none;
    transition: 0.3 ease;
    display: block; /*each rows each box*/
}

.operating-hours {
    display: flex;
    gap: 6px; /* 两个格子中间的间距，可以改大或改小 */
     width: 90%;
     transform: translateX(30px);
}

.operating-hours input {
    flex: 0.5; /* 让两个输入框平分宽度 */
}

.form-box .text textarea{
    width: 90%;
    height: 200px;
    padding: 15px 20px;
    margin: 40px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 1.1rem;
    outline: none;
    resize: none;
    display: block;
}

.image-upload {
    display: flex;
    justify-content:space-between;
    gap: 40px;
    margin: 30px;
}

.image-box {
    flex:1;
    max-width: 300px;
    text-align: center;
}

.upload-title {
    font-weight: bold;
    margin-bottom: 12px;
    white-space: nowrap;
    font-size: 23px;
}

.upload-area {
    display: block;
    cursor: pointer;
    font-size: 90px;
}

.upload-area img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border: 2px dashed #aaa;
    border-radius: 12px;
    background: #f9f9f9;
    transition: border-color 0.3s;
}

.upload-area:hover img {
    border-color: #4CAF50;
}

.upload-area input[type="file"] {
    display: none;
}

.map-section {
    margin-top: 40px;
    text-align: center;
}

.map-title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.form-actions {
    display: flex;
    justify-content: flex-end; /* 靠右 */
    margin-top: 20px;
    margin-right: 40px; /* 和右边保持点距离 */
    transform: translateY(70px);
}

.submit-btn {
    background-color: #435aee;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.0rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #0030f2; /* hover 变深 */
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
}
.alert-success {
    background-color: #d4edda;
    color: #155724;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

