<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
</head>
<body>
    <div class="wrapper">

        <div class="logo2">
            <img src="{{ url_for('static', filename='photos/mmulogo2.png') }}" alt="mmu logo">
        </div>

<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ 'danger' if category == 'error' else category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>


        <form method="POST" action="{{ url_for('auth.login') }}" class="form">
            <h1>User Login</h1>
            <div class="input-box">
                <input type="text" name=user_name placeholder="Username" required>
            </div>
            <div class="input-box">
                <input type="text" name=password1 placeholder="Password" required>
            </div>
            
            <div class="sign">
                <a href="role.html">Sign up?</a>
            </div>

            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>